* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 4em;
  color: #d5ccc7;
  background-color: #333333;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: .5em;
}

header h1 {
  padding: 1em;
  font-weight: 200;
}

header img {
  border-radius: 50%;
}

h2, p {
  padding: .5em;
}

h2 {
  color: #9a8c98;
}

/* NAV */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 95%;
  height: 3em;
  line-height: 3em;
}

nav ul {
  background-color: #28262b;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

ul li {
  padding-left: 1em;
}

a {
  text-decoration: none;
  /* color: #e0e1dd; */
  /* color: #d5ccc7; */
  color: #a9a29c;
}

a:hover {
  color: #9a8c98;
  text-decoration: underline;
}
/* ABOUT */

#about {
  margin-bottom: 1em;
}

#about h2 {
  padding-bottom: .5em;
}

/* PROJECTS */

#projects {
  background-color: #28262b;
}

.figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0;
}

figure {
  text-align: center;
}

img {
  border: 2px solid #a9a29c;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

figure {
  width: 150px;
  padding: 0 1em;
}

/* CONTACT */

#contact {
  margin-bottom: 3em;
}

/* FOOTER */

footer {
  background-color: #28262b;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 1em;
  padding: .5em;
}